In [360]:
## sorry for not using comments.
## and for long print statements.

In [2]:
!wget https://www.techgig.com/files/contest_upload_files/click_log_finale.csv

--2021-07-24 07:18:00--  https://www.techgig.com/files/contest_upload_files/click_log_finale.csv
Resolving www.techgig.com (www.techgig.com)... 23.205.107.91, 23.205.107.77, 2600:1408:c400:16::17d4:f804, ...
Connecting to www.techgig.com (www.techgig.com)|23.205.107.91|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘click_log_finale.csv’

click_log_finale.cs     [             <=>    ] 110.45M  25.7MB/s    in 5.4s

2021-07-24 07:18:14 (20.5 MB/s) - ‘click_log_finale.csv’ saved [115820094]

In [3]:
!wget https://www.techgig.com/files/contest_upload_files/conversion_log_finale.csv

--2021-07-24 07:20:27--  https://www.techgig.com/files/contest_upload_files/conversion_log_finale.csv
Resolving www.techgig.com (www.techgig.com)... 23.12.145.155, 23.12.145.138, 2600:1408:24::1726:675b, ...
Connecting to www.techgig.com (www.techgig.com)|23.12.145.155|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘conversion_log_finale.csv’

conversion_log_fina     [     <=>            ]   3.11M  3.13MB/s    in 1.0s

2021-07-24 07:20:29 (3.13 MB/s) - ‘conversion_log_finale.csv’ saved [3266357]

In [121]:
import pandas as pd
import numpy as np

click_logs = pd.read_csv("/content/drive/MyDrive/techgig/click_log_finale.csv")
conversion_logs = pd.read_csv("/content/drive/MyDrive/techgig/conversion_log_finale.csv")

In [123]:
click_logs.head()

                                       imprId  ... paid
0  c612559f-ea01-4436-bc3a-f2baf4006167-1sj4s  ...    1
1   e5d34382-2143-4045-a050-6a045eeb9849-62qg  ...    1
2  d3f36499-2207-4a1f-8dfe-6b8dd92ebc81-1sj7k  ...    1
3  600010f4-1dcf-4813-8568-9cba9cc8b20e-10onw  ...    1
4  a7865e2a-6ba2-4d29-a38e-43be185dd999-1sjd4  ...    1

[5 rows x 44 columns]

In [124]:
click_logs.shape

(127941, 44)

In [125]:
click_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127941 entries, 0 to 127940
Data columns (total 44 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   imprId                     127941 non-null  object
 1   clmbUserId                 127941 non-null  object
 2   adSltDimId                 127941 non-null  int64
 3   auds                       75551 non-null   object
 4   allAuds                    126978 non-null  object
 5   itemid                     127941 non-null  int64
 6   algo                       127941 non-null  int64
 7   advClientId                127941 non-null  int64
 8   pubClientId                127941 non-null  int64
 9   itmClmbLId                 127941 non-null  int64
 10  tmpltId                    126751 non-null  float64
 11  clickBid                   88615 non-null   float64
 12  clickXForwardedFor         126751 non-null  object
 13  section                    127941 non-null  object
 14  position                   127941 non-null  int64
 15  siteId                     127941 non-null  int64
 16  callIdentifier             127658 non-null  object
 17  crtd                       127941 non-null  int64
 18  pricingType                127941 non-null  int64
 19  ctxCatId                   46506 non-null   object
 20  clickIp                    126751 non-null  object
 21  clickGeoId                 126751 non-null  float64
 22  esi                        126751 non-null  float64
 23  adBlockerDetectionValueId  126751 non-null  float64
 24  impressionServedTimeStamp  123416 non-null  float64
 25  appver                     26021 non-null   object
 26  ip                         127941 non-null  object
 27  geoDimId                   127941 non-null  int64
 28  geoGrpDimId                127941 non-null  int64
 29  cityDimId                  127941 non-null  int64
 30  cityGrpDimId               85868 non-null   float64
 31  stateDimId                 127941 non-null  int64
 32  stateGrpDimId              122818 non-null  float64
 33  ispDimId                   127941 non-null  int64
 34  connTypeDimId              127941 non-null  int64
 35  userAgent                  127941 non-null  object
 36  osDimId                    127941 non-null  int64
 37  osVerDimId                 127941 non-null  int64
 38  devTypeDimId               127941 non-null  int64
 39  vendorDimId                127941 non-null  int64
 40  modelDimId                 127941 non-null  int64
 41  browserDimId               127941 non-null  int64
 42  @timestamp                 127941 non-null  object
 43  paid                       127941 non-null  int64
dtypes: float64(8), int64(23), object(13)
memory usage: 42.9+ MB

In [128]:
conversion_logs.shape

(3955, 45)

In [127]:
conversion_logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3955 entries, 0 to 3954
Data columns (total 45 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   callIdentifier              3917 non-null   object
 1   clientid                    3955 non-null   int64
 2   clmbuserid                  3955 non-null   object
 3   conversiontime              3955 non-null   int64
 4   imprid                      3955 non-null   object
 5   adslotdimid                 3955 non-null   int64
 6   algo                        3955 non-null   int64
 7   audiences                   2251 non-null   object
 8   clickbid                    1498 non-null   float64
 9   geodimid                    3955 non-null   int64
 10  ip (hashed)                 3911 non-null   object
 11  itemcolumbiaid              3955 non-null   int64
 12  itemid                      3955 non-null   int64
 13  position                    3911 non-null   float64
 14  pubclientid                 3955 non-null   int64
 15  section                     3955 non-null   object
 16  siteId                      3955 non-null   int64
 17  templateid                  3814 non-null   float64
 18  goalid                      3955 non-null   int64
 19  time                        3955 non-null   int64
 20  adLogType                   3955 non-null   int64
 21  allAudiences                3870 non-null   object
 22  pricingtype                 3955 non-null   int64
 23  osId                        3911 non-null   float64
 24  browserId                   3911 non-null   float64
 25  cityId                      3911 non-null   float64
 26  stateId                     3911 non-null   float64
 27  modelDimId                  3911 non-null   float64
 28  connTypeDimId               3911 non-null   object
 29  ispDimId                    3911 non-null   float64
 30  countryDimId                3955 non-null   int64
 31  goalTypeId                  3955 non-null   int64
 32  conversionDurationInMillis  3911 non-null   float64
 33  impressionTimeInMillis      3911 non-null   float64
 34  clickTimeInMillis           2300 non-null   float64
 35  osVerDimId                  3911 non-null   float64
 36  geoGrpDimId                 3955 non-null   int64
 37  stateGrpDimId               2743 non-null   float64
 38  @timestamp                  3955 non-null   object
 39  host                        3955 non-null   object
 40  conversionid                818 non-null    object
 41  cityGrpDimId                2045 non-null   float64
 42  isOrganic                   1122 non-null   object
 43  deviceId                    1611 non-null   float64
 44  platformId                  1611 non-null   float64
dtypes: float64(17), int64(16), object(12)
memory usage: 1.4+ MB

In [129]:
conversion_logs.head()

                                    callIdentifier  ...  platformId
0             5049c657-1f2f-4299-9707-44aa0543ef9d  ...         NaN
1  t539n188o6221627014615009a2s8yearnid2tkb9gfp3u8  ...         NaN
2   d120L54U8271627014624508g0m51wgkh2t5uwmlhh6sbr  ...         NaN
3                                     w676m504k420  ...         NaN
4             532b03ad-efe1-4f15-85a3-1f1a850cd01f  ...         NaN

[5 rows x 45 columns]

In [15]:
click_logs.nunique()

imprId                       119607
clmbUserId                   114290
adSltDimId                     1501
auds                          27358
allAuds                       70459
itemid                         1657
algo                             11
advClientId                     162
pubClientId                     150
itmClmbLId                      802
tmpltId                         513
clickBid                        969
clickXForwardedFor           125597
section                         869
position                       4721
siteId                          372
callIdentifier               119263
crtd                         127041
pricingType                       6
ctxCatId                        204
clickIp                      112946
clickGeoId                       23
esi                               1
adBlockerDetectionValueId         2
impressionServedTimeStamp      4394
appver                          349
ip                           112969
geoDimId                         23
geoGrpDimId                       9
cityDimId                       185
cityGrpDimId                      6
stateDimId                       97
stateGrpDimId                     8
ispDimId                        827
connTypeDimId                     7
userAgent                     29653
osDimId                          21
osVerDimId                      127
devTypeDimId                      6
vendorDimId                      98
modelDimId                      276
browserDimId                     21
@timestamp                   127041
paid                              1
dtype: int64

In [16]:
conversion_logs.nunique()

callIdentifier                3736
clientid                        67
clmbuserid                    3604
conversiontime                3951
imprid                        3769
adslotdimid                    493
algo                            12
audiences                     1454
clickbid                        71
geodimid                        16
ip (hashed)                   3525
itemcolumbiaid                 248
itemid                         465
position                       345
pubclientid                    101
section                        176
siteId                         189
templateid                     225
goalid                          98
time                          3952
adLogType                        2
allAudiences                  2357
pricingtype                      4
osId                            16
browserId                       15
cityId                         118
stateId                         56
modelDimId                      69
connTypeDimId                   14
ispDimId                       273
countryDimId                    23
goalTypeId                      14
conversionDurationInMillis    3642
impressionTimeInMillis         146
clickTimeInMillis               34
osVerDimId                      44
geoGrpDimId                      8
stateGrpDimId                    8
@timestamp                    3945
host                             9
conversionid                   790
cityGrpDimId                     6
isOrganic                        1
deviceId                         4
platformId                       4
dtype: int64

In [130]:
joined_df = pd.merge_ordered(left=conversion_logs,right=click_logs,how='left',left_on=["imprid"],right_on=['imprId'])

In [96]:
joined_df.shape

(4183, 89)

In [131]:
joined_df.head()

                                 callIdentifier_x  ...  paid
0                                    U525q924s850  ...   NaN
1                                    y748k596B247  ...   NaN
2  E960Y748x6881627016421649ki6vedxmrum2jb56qf00k  ...   NaN
3            ff0131ef-ad13-4f0f-80e8-081d206846dc  ...   1.0
4                                    q377C999I980  ...   NaN

[5 rows x 89 columns]

In [97]:
unique_values = joined_df.nunique()

In [132]:
joined_df["siteId_x"]

0       3260
1       3260
2        767
3       3192
4       3260
        ...
4178     667
4179    2923
4180    1215
4181    1215
4182    1217
Name: siteId_x, Length: 4183, dtype: int64

0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
                              ...
4178                                                  NaN
4179    8l5,jog,3si,2wp,jo3,nqv,jo8,8kg,8kh,7gm,2vb,8g...
4180                  2x6,8go,8k6,8kv,8k8,2vk,2vl,8gw,8j1
4181                  2x6,8go,8k6,8kv,8k8,2vk,2vl,8gw,8j1
4182                                                  NaN
Name: auds, Length: 4183, dtype: object

In [138]:
joined_df["clickbid"]

0        NaN
1        NaN
2        NaN
3       1.35
4        NaN
        ...
4178     NaN
4179    0.90
4180    4.95
4181    4.95
4182     NaN
Name: clickbid, Length: 4183, dtype: float64

In [135]:
joined_df["ip (hashed)"]

0       34544e1dc0f077d1db4dc8bb0deb88e03e192969b4ad92...
1       2a449339c5b383c5823be34dc6d1f5fc56cb2b9ba6d1f3...
2       d6039a36534a6b9b3018ac2447bae3c625712c6f847c2c...
3       e93df80a9fa6778ea41c3574455cab27d040b69928adb9...
4       ce47426ea9ca5a400508cc65c93b42a92381bb315a7aa4...
                              ...
4178    9c01332f9b44145a87afd35958261c17abb057e3846984...
4179    b19bf9a66b80e7bccba5b82a2b43287cc6cab92d47b475...
4180    4b08690c7158d5e418d1b6c03bfaa4c3888a070734675c...
4181    4b08690c7158d5e418d1b6c03bfaa4c3888a070734675c...
4182    026d3b56ae94d55d32f8c805d15aa1eb3a3d1162f3dde4...
Name: ip (hashed), Length: 4183, dtype: object

In [98]:
for i,val in enumerate(unique_values):
  print(joined_df.columns[i] ," : ",val)

callIdentifier_x  :  3736
clientid  :  67
clmbuserid  :  3604
conversiontime  :  3951
imprid  :  3769
adslotdimid  :  493
algo_x  :  12
audiences  :  1454
clickbid  :  71
geodimid  :  16
ip (hashed)  :  3525
itemcolumbiaid  :  248
itemid_x  :  465
position_x  :  345
pubclientid  :  101
section_x  :  176
siteId_x  :  189
templateid  :  225
goalid  :  98
time  :  3952
adLogType  :  2
allAudiences  :  2357
pricingtype  :  4
osId  :  16
browserId  :  15
cityId  :  118
stateId  :  56
modelDimId_x  :  69
connTypeDimId_x  :  14
ispDimId_x  :  273
countryDimId  :  23
goalTypeId  :  14
conversionDurationInMillis  :  3642
impressionTimeInMillis  :  146
clickTimeInMillis  :  34
osVerDimId_x  :  44
geoGrpDimId_x  :  8
stateGrpDimId_x  :  8
@timestamp_x  :  3945
host  :  9
conversionid  :  790
cityGrpDimId_x  :  6
isOrganic  :  1
deviceId  :  4
platformId  :  4
imprId  :  2143
clmbUserId  :  2096
adSltDimId  :  416
auds  :  963
allAuds  :  1433
itemid_y  :  343
algo_y  :  10
advClientId  :  69
pubClientId  :  91
itmClmbLId  :  219
tmpltId  :  192
clickBid  :  75
clickXForwardedFor  :  2221
section_y  :  152
position_y  :  291
siteId_y  :  169
callIdentifier_y  :  2137
crtd  :  2311
pricingType  :  4
ctxCatId  :  36
clickIp  :  2038
clickGeoId  :  10
esi  :  1
adBlockerDetectionValueId  :  2
impressionServedTimeStamp  :  391
appver  :  78
ip  :  2088
geoDimId  :  10
geoGrpDimId_y  :  6
cityDimId  :  99
cityGrpDimId_y  :  6
stateDimId  :  43
stateGrpDimId_y  :  8
ispDimId_y  :  117
connTypeDimId_y  :  6
userAgent  :  1614
osDimId  :  14
osVerDimId_y  :  39
devTypeDimId  :  4
vendorDimId  :  34
modelDimId_y  :  47
browserDimId  :  15
@timestamp_y  :  2311
paid  :  1

In [139]:
joined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4183 entries, 0 to 4182
Data columns (total 89 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   callIdentifier_x            4145 non-null   object
 1   clientid                    4183 non-null   int64
 2   clmbuserid                  4183 non-null   object
 3   conversiontime              4183 non-null   int64
 4   imprid                      4183 non-null   object
 5   adslotdimid                 4183 non-null   int64
 6   algo_x                      4183 non-null   int64
 7   audiences                   2419 non-null   object
 8   clickbid                    1630 non-null   float64
 9   geodimid                    4183 non-null   int64
 10  ip (hashed)                 4138 non-null   object
 11  itemcolumbiaid              4183 non-null   int64
 12  itemid_x                    4183 non-null   int64
 13  position_x                  4138 non-null   float64
 14  pubclientid                 4183 non-null   int64
 15  section_x                   4183 non-null   object
 16  siteId_x                    4183 non-null   int64
 17  templateid                  4041 non-null   float64
 18  goalid                      4183 non-null   int64
 19  time                        4183 non-null   int64
 20  adLogType                   4183 non-null   int64
 21  allAudiences                4097 non-null   object
 22  pricingtype                 4183 non-null   int64
 23  osId                        4138 non-null   float64
 24  browserId                   4138 non-null   float64
 25  cityId                      4138 non-null   float64
 26  stateId                     4138 non-null   float64
 27  modelDimId_x                4138 non-null   float64
 28  connTypeDimId_x             4138 non-null   object
 29  ispDimId_x                  4138 non-null   float64
 30  countryDimId                4183 non-null   int64
 31  goalTypeId                  4183 non-null   int64
 32  conversionDurationInMillis  4138 non-null   float64
 33  impressionTimeInMillis      4138 non-null   float64
 34  clickTimeInMillis           2524 non-null   float64
 35  osVerDimId_x                4138 non-null   float64
 36  geoGrpDimId_x               4183 non-null   int64
 37  stateGrpDimId_x             2966 non-null   float64
 38  @timestamp_x                4183 non-null   object
 39  host                        4183 non-null   object
 40  conversionid                890 non-null    object
 41  cityGrpDimId_x              2191 non-null   float64
 42  isOrganic                   1122 non-null   object
 43  deviceId                    1614 non-null   float64
 44  platformId                  1614 non-null   float64
 45  imprId                      2515 non-null   object
 46  clmbUserId                  2515 non-null   object
 47  adSltDimId                  2515 non-null   float64
 48  auds                        1627 non-null   object
 49  allAuds                     2443 non-null   object
 50  itemid_y                    2515 non-null   float64
 51  algo_y                      2515 non-null   float64
 52  advClientId                 2515 non-null   float64
 53  pubClientId                 2515 non-null   float64
 54  itmClmbLId                  2515 non-null   float64
 55  tmpltId                     2418 non-null   float64
 56  clickBid                    1638 non-null   float64
 57  clickXForwardedFor          2418 non-null   object
 58  section_y                   2515 non-null   object
 59  position_y                  2515 non-null   float64
 60  siteId_y                    2515 non-null   float64
 61  callIdentifier_y            2509 non-null   object
 62  crtd                        2515 non-null   float64
 63  pricingType                 2515 non-null   float64
 64  ctxCatId                    2403 non-null   object
 65  clickIp                     2418 non-null   object
 66  clickGeoId                  2418 non-null   float64
 67  esi                         2418 non-null   float64
 68  adBlockerDetectionValueId   2418 non-null   float64
 69  impressionServedTimeStamp   2379 non-null   float64
 70  appver                      402 non-null    object
 71  ip                          2515 non-null   object
 72  geoDimId                    2515 non-null   float64
 73  geoGrpDimId_y               2515 non-null   float64
 74  cityDimId                   2515 non-null   float64
 75  cityGrpDimId_y              1796 non-null   float64
 76  stateDimId                  2515 non-null   float64
 77  stateGrpDimId_y             2454 non-null   float64
 78  ispDimId_y                  2515 non-null   float64
 79  connTypeDimId_y             2515 non-null   float64
 80  userAgent                   2515 non-null   object
 81  osDimId                     2515 non-null   float64
 82  osVerDimId_y                2515 non-null   float64
 83  devTypeDimId                2515 non-null   float64
 84  vendorDimId                 2515 non-null   float64
 85  modelDimId_y                2515 non-null   float64
 86  browserDimId                2515 non-null   float64
 87  @timestamp_y                2515 non-null   object
 88  paid                        2515 non-null   float64
dtypes: float64(48), int64(16), object(25)
memory usage: 2.9+ MB

In [147]:
joined_df["siteId_x"]

0       3260
1       3260
2        767
3       3192
4       3260
        ...
4178     667
4179    2923
4180    1215
4181    1215
4182    1217
Name: siteId_x, Length: 4183, dtype: int64

array([334760, 334758, 334762, 349010, 334761, 334764, 334766])

In [99]:
joined_df["conversiontime"]

0       1627018002256
1       1627016407757
2       1627016478795
3       1627015729195
4       1627017395891
            ...
4178    1627016199895
4179    1627015091740
4180    1627016786995
4181    1627016787009
4182    1627017315071
Name: conversiontime, Length: 4183, dtype: int64

In [25]:
joined_df["@timestamp_x"]# - joined_df["@timestamp_x"]

0       2021-07-23T10:56:42.402+05:30
1       2021-07-23T10:30:07.825+05:30
2       2021-07-23T10:31:18.875+05:30
3       2021-07-23T10:18:49.401+05:30
4       2021-07-23T10:46:35.950+05:30
                    ...
4178    2021-07-23T10:26:39.993+05:30
4179    2021-07-23T10:08:11.820+05:30
4180    2021-07-23T10:36:27.307+05:30
4181    2021-07-23T10:36:27.097+05:30
4182    2021-07-23T10:45:15.523+05:30
Name: @timestamp_x, Length: 4183, dtype: object

In [100]:
import datetime

In [65]:
def string_to_timestep(date_time_str):
  if date_time_str == None:
    return 0
  date_time_str = date_time_str.replace(":","")
  date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%dT%H%M%S.%f%z')
  timestamp = date_time_obj.replace(tzinfo=timezone.utc).timestamp()
  return timestamp

print(string_to_timestep("2021-07-23T10:56:42.402+05:30"))

1627037802.402

In [72]:
joined_df["@timestamp_x"] - joined_df["conversiontime"]

0       19800.146
1       19800.068
2       19800.080
3       19800.206
4       19800.059
          ...
4178    19800.098
4179    19800.080
4180    19800.312
4181    19800.088
4182    19800.452
Length: 4183, dtype: float64

In [78]:
joined_df["@timestamp_x"] - joined_df["conversiontime"]

0       19800.146
1       19800.068
2       19800.080
3       19800.206
4       19800.059
          ...
4178    19800.098
4179    19800.080
4180    19800.312
4181    19800.088
4182    19800.452
Length: 4183, dtype: float64

In [150]:


temp1 = joined_df[joined_df["clickTimeInMillis"].isna() == False]
temp1[temp1["conversiontime"] - temp1["clickTimeInMillis"] > 0 ].shape

(448, 89)

In [154]:
timestamp_check = []
for index, row in joined_df.iterrows():
  if row["impressionTimeInMillis"]  or row["conversiontime"] :
    timestamp_check.append(int(row["conversiontime"] - row["clickTimeInMillis"] > 0))
  else:
    timestamp_check.append(0)

In [165]:
temp3 = joined_df[joined_df["siteId_x"] == 2923]
temp3["adslotdimid"].unique().shape[0]

7

In [176]:
adSlot_check = []
for index, row in joined_df.iterrows():
  if row["siteId_x"]:
    t = joined_df[joined_df["siteId_x"] == row["siteId_x"]]
    adSlot_check.append(int(t["adslotdimid"].unique().shape[0] < 2))
  else:
    adSlot_check.append(0)

In [178]:
joined_df["adSlot_check"] = adSlot_check

In [161]:
joined_df["timestamp_check"] = timestamp_check

In [179]:
joined_df.head()

                                 callIdentifier_x  ...  adSlot_check
0                                    U525q924s850  ...             1
1                                    y748k596B247  ...             1
2  E960Y748x6881627016421649ki6vedxmrum2jb56qf00k  ...             0
3            ff0131ef-ad13-4f0f-80e8-081d206846dc  ...             1
4                                    q377C999I980  ...             1

[5 rows x 91 columns]

In [151]:
temp2 = joined_df[joined_df["impressionTimeInMillis"].isna() == False]
temp2[(temp2["conversiontime"] - temp1["impressionTimeInMillis"]) > 0].shape

(589, 89)

In [105]:
temp1["clickTimeInMillis"][3]

1627020000000.0

In [180]:
joined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4183 entries, 0 to 4182
Data columns (total 91 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   callIdentifier_x            4145 non-null   object
 1   clientid                    4183 non-null   int64
 2   clmbuserid                  4183 non-null   object
 3   conversiontime              4183 non-null   int64
 4   imprid                      4183 non-null   object
 5   adslotdimid                 4183 non-null   int64
 6   algo_x                      4183 non-null   int64
 7   audiences                   2419 non-null   object
 8   clickbid                    1630 non-null   float64
 9   geodimid                    4183 non-null   int64
 10  ip (hashed)                 4138 non-null   object
 11  itemcolumbiaid              4183 non-null   int64
 12  itemid_x                    4183 non-null   int64
 13  position_x                  4138 non-null   float64
 14  pubclientid                 4183 non-null   int64
 15  section_x                   4183 non-null   object
 16  siteId_x                    4183 non-null   int64
 17  templateid                  4041 non-null   float64
 18  goalid                      4183 non-null   int64
 19  time                        4183 non-null   int64
 20  adLogType                   4183 non-null   int64
 21  allAudiences                4097 non-null   object
 22  pricingtype                 4183 non-null   int64
 23  osId                        4138 non-null   float64
 24  browserId                   4138 non-null   float64
 25  cityId                      4138 non-null   float64
 26  stateId                     4138 non-null   float64
 27  modelDimId_x                4138 non-null   float64
 28  connTypeDimId_x             4138 non-null   object
 29  ispDimId_x                  4138 non-null   float64
 30  countryDimId                4183 non-null   int64
 31  goalTypeId                  4183 non-null   int64
 32  conversionDurationInMillis  4138 non-null   float64
 33  impressionTimeInMillis      4138 non-null   float64
 34  clickTimeInMillis           2524 non-null   float64
 35  osVerDimId_x                4138 non-null   float64
 36  geoGrpDimId_x               4183 non-null   int64
 37  stateGrpDimId_x             2966 non-null   float64
 38  @timestamp_x                4183 non-null   object
 39  host                        4183 non-null   object
 40  conversionid                890 non-null    object
 41  cityGrpDimId_x              2191 non-null   float64
 42  isOrganic                   1122 non-null   object
 43  deviceId                    1614 non-null   float64
 44  platformId                  1614 non-null   float64
 45  imprId                      2515 non-null   object
 46  clmbUserId                  2515 non-null   object
 47  adSltDimId                  2515 non-null   float64
 48  auds                        1627 non-null   object
 49  allAuds                     2443 non-null   object
 50  itemid_y                    2515 non-null   float64
 51  algo_y                      2515 non-null   float64
 52  advClientId                 2515 non-null   float64
 53  pubClientId                 2515 non-null   float64
 54  itmClmbLId                  2515 non-null   float64
 55  tmpltId                     2418 non-null   float64
 56  clickBid                    1638 non-null   float64
 57  clickXForwardedFor          2418 non-null   object
 58  section_y                   2515 non-null   object
 59  position_y                  2515 non-null   float64
 60  siteId_y                    2515 non-null   float64
 61  callIdentifier_y            2509 non-null   object
 62  crtd                        2515 non-null   float64
 63  pricingType                 2515 non-null   float64
 64  ctxCatId                    2403 non-null   object
 65  clickIp                     2418 non-null   object
 66  clickGeoId                  2418 non-null   float64
 67  esi                         2418 non-null   float64
 68  adBlockerDetectionValueId   2418 non-null   float64
 69  impressionServedTimeStamp   2379 non-null   float64
 70  appver                      402 non-null    object
 71  ip                          2515 non-null   object
 72  geoDimId                    2515 non-null   float64
 73  geoGrpDimId_y               2515 non-null   float64
 74  cityDimId                   2515 non-null   float64
 75  cityGrpDimId_y              1796 non-null   float64
 76  stateDimId                  2515 non-null   float64
 77  stateGrpDimId_y             2454 non-null   float64
 78  ispDimId_y                  2515 non-null   float64
 79  connTypeDimId_y             2515 non-null   float64
 80  userAgent                   2515 non-null   object
 81  osDimId                     2515 non-null   float64
 82  osVerDimId_y                2515 non-null   float64
 83  devTypeDimId                2515 non-null   float64
 84  vendorDimId                 2515 non-null   float64
 85  modelDimId_y                2515 non-null   float64
 86  browserDimId                2515 non-null   float64
 87  @timestamp_y                2515 non-null   object
 88  paid                        2515 non-null   float64
 89  timestamp_check             4183 non-null   int64
 90  adSlot_check                4183 non-null   int64
dtypes: float64(48), int64(18), object(25)
memory usage: 2.9+ MB

In [184]:
unique_values = joined_df.nunique()
for i,val in enumerate(unique_values):
  print(i," ",joined_df.columns[i] ," : ",val)

0   callIdentifier_x  :  3736
1   clientid  :  67
2   clmbuserid  :  3604
3   conversiontime  :  3951
4   imprid  :  3769
5   adslotdimid  :  493
6   algo_x  :  12
7   audiences  :  1454
8   clickbid  :  71
9   geodimid  :  16
10   ip (hashed)  :  3525
11   itemcolumbiaid  :  248
12   itemid_x  :  465
13   position_x  :  345
14   pubclientid  :  101
15   section_x  :  176
16   siteId_x  :  189
17   templateid  :  225
18   goalid  :  98
19   time  :  3952
20   adLogType  :  2
21   allAudiences  :  2357
22   pricingtype  :  4
23   osId  :  16
24   browserId  :  15
25   cityId  :  118
26   stateId  :  56
27   modelDimId_x  :  69
28   connTypeDimId_x  :  14
29   ispDimId_x  :  273
30   countryDimId  :  23
31   goalTypeId  :  14
32   conversionDurationInMillis  :  3642
33   impressionTimeInMillis  :  146
34   clickTimeInMillis  :  34
35   osVerDimId_x  :  44
36   geoGrpDimId_x  :  8
37   stateGrpDimId_x  :  8
38   @timestamp_x  :  3945
39   host  :  9
40   conversionid  :  790
41   cityGrpDimId_x  :  6
42   isOrganic  :  1
43   deviceId  :  4
44   platformId  :  4
45   imprId  :  2143
46   clmbUserId  :  2096
47   adSltDimId  :  416
48   auds  :  963
49   allAuds  :  1433
50   itemid_y  :  343
51   algo_y  :  10
52   advClientId  :  69
53   pubClientId  :  91
54   itmClmbLId  :  219
55   tmpltId  :  192
56   clickBid  :  75
57   clickXForwardedFor  :  2221
58   section_y  :  152
59   position_y  :  291
60   siteId_y  :  169
61   callIdentifier_y  :  2137
62   crtd  :  2311
63   pricingType  :  4
64   ctxCatId  :  36
65   clickIp  :  2038
66   clickGeoId  :  10
67   esi  :  1
68   adBlockerDetectionValueId  :  2
69   impressionServedTimeStamp  :  391
70   appver  :  78
71   ip  :  2088
72   geoDimId  :  10
73   geoGrpDimId_y  :  6
74   cityDimId  :  99
75   cityGrpDimId_y  :  6
76   stateDimId  :  43
77   stateGrpDimId_y  :  8
78   ispDimId_y  :  117
79   connTypeDimId_y  :  6
80   userAgent  :  1614
81   osDimId  :  14
82   osVerDimId_y  :  39
83   devTypeDimId  :  4
84   vendorDimId  :  34
85   modelDimId_y  :  47
86   browserDimId  :  15
87   @timestamp_y  :  2311
88   paid  :  1
89   timestamp_check  :  2
90   adSlot_check  :  2

In [191]:
features_nums = [1,3,6,8,9,11,16,19,20,22,23,27,28,30,31,36,44,52,53,63,68,32,33,34,69]
features_to_normalize = [3,19,32,33,34,69]
features_to_encode = list(filter(lambda x: x not in features_to_normalize,features_nums))

In [197]:
cols = []
for col in features_nums:
  cols.append(joined_df.columns[col])


df = joined_df[cols]

#df = joined_df[list(map(,joined_df.columns))]

In [199]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4183 entries, 0 to 4182
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   clientid                    4183 non-null   int64
 1   conversiontime              4183 non-null   int64
 2   algo_x                      4183 non-null   int64
 3   clickbid                    1630 non-null   float64
 4   geodimid                    4183 non-null   int64
 5   itemcolumbiaid              4183 non-null   int64
 6   siteId_x                    4183 non-null   int64
 7   time                        4183 non-null   int64
 8   adLogType                   4183 non-null   int64
 9   pricingtype                 4183 non-null   int64
 10  osId                        4138 non-null   float64
 11  modelDimId_x                4138 non-null   float64
 12  connTypeDimId_x             4138 non-null   object
 13  countryDimId                4183 non-null   int64
 14  goalTypeId                  4183 non-null   int64
 15  geoGrpDimId_x               4183 non-null   int64
 16  platformId                  1614 non-null   float64
 17  advClientId                 2515 non-null   float64
 18  pubClientId                 2515 non-null   float64
 19  pricingType                 2515 non-null   float64
 20  adBlockerDetectionValueId   2418 non-null   float64
 21  conversionDurationInMillis  4138 non-null   float64
 22  impressionTimeInMillis      4138 non-null   float64
 23  clickTimeInMillis           2524 non-null   float64
 24  impressionServedTimeStamp   2379 non-null   float64
dtypes: float64(12), int64(12), object(1)
memory usage: 849.7+ KB

In [217]:
categorical_cols_impute_nums = [3,16,17,18,19,20,10,11,12]

categorical_cols_impute = []

for col in categorical_cols_impute_nums:
  categorical_cols_impute.append(df.columns[col])

In [218]:
for col in categorical_cols_impute:
  dt =  df[col].dtype
  if dt == 'float64':
    df[col].fillna(-1,inplace=True)
  elif dt == 'object' or dt == 'string':
    df[col].fillna("Nan",inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [206]:
df["clickTimeInMillis"].fillna(df["clickTimeInMillis"].mean(),inplace=True)
df["impressionServedTimeStamp"].fillna(df["impressionServedTimeStamp"].mean(),inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [215]:
df["conversionDurationInMillis"].fillna(df["conversionDurationInMillis"].mean(),inplace=True)
df["impressionTimeInMillis"].fillna(df["impressionTimeInMillis"].mean(),inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/series.py:4536: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [212]:
df["connTypeDimId_x"] = df["connTypeDimId_x"].astype("string")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [219]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4183 entries, 0 to 4182
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   clientid                    4183 non-null   int64
 1   conversiontime              4183 non-null   int64
 2   algo_x                      4183 non-null   int64
 3   clickbid                    4183 non-null   float64
 4   geodimid                    4183 non-null   int64
 5   itemcolumbiaid              4183 non-null   int64
 6   siteId_x                    4183 non-null   int64
 7   time                        4183 non-null   int64
 8   adLogType                   4183 non-null   int64
 9   pricingtype                 4183 non-null   int64
 10  osId                        4183 non-null   float64
 11  modelDimId_x                4183 non-null   float64
 12  connTypeDimId_x             4183 non-null   string
 13  countryDimId                4183 non-null   int64
 14  goalTypeId                  4183 non-null   int64
 15  geoGrpDimId_x               4183 non-null   int64
 16  platformId                  4183 non-null   float64
 17  advClientId                 4183 non-null   float64
 18  pubClientId                 4183 non-null   float64
 19  pricingType                 4183 non-null   float64
 20  adBlockerDetectionValueId   4183 non-null   float64
 21  conversionDurationInMillis  4183 non-null   float64
 22  impressionTimeInMillis      4183 non-null   float64
 23  clickTimeInMillis           4183 non-null   float64
 24  impressionServedTimeStamp   4183 non-null   float64
dtypes: float64(12), int64(12), string(1)
memory usage: 849.7 KB

In [214]:
df.to_csv("./df.csv")

In [229]:
columns_to_normalize_nums = [1,3,7,21,22,23,24]

columns_to_normalize = []

for col in columns_to_normalize_nums:
  columns_to_normalize.append(df.columns[col])



columns_to_encode = list(df.columns)
for col in columns_to_normalize_nums + [19]:
  columns_to_encode.remove(df.columns[col])


df_new = pd.get_dummies(df,columns = columns_to_encode)

In [233]:
#norm_cdm = (df_new['conversionDurationInMillis_cr'] - df_new['conversionDurationInMillis_cr'].mean())/  df_new['conversionDurationInMillis_cr'].std()
for col in columns_to_normalize:
  df_new[col] = (df_new[col] - df_new[col].mean())/  df_new[col].std()

In [234]:
df_new.head()

   conversiontime  ...  adBlockerDetectionValueId_4.0
0        1.484311  ...                              0
1        0.090993  ...                              0
2        0.153068  ...                              0
3       -0.501954  ...                              0
4        0.954452  ...                              0

[5 rows x 863 columns]

In [236]:
df_new.to_csv('df_new.csv')

In [238]:
df_new.shape

(4183, 863)

In [237]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import tensorflow as tf

from tensorflow.keras import layers, losses
from tensorflow.keras.models import Model

In [239]:
latent_dim = 64

class Autoencoder(Model):
  def __init__(self, latent_dim):
    super(Autoencoder, self).__init__()
    self.latent_dim = latent_dim   
    self.encoder = tf.keras.Sequential([
      layers.Dense(128,activation='relu'),
      layers.Dense(latent_dim, activation='relu'),
    ])
    self.decoder = tf.keras.Sequential([
      layers.Dense(128,activation='relu'),
      layers.Dense(863, activation='sigmoid')
      
    ])

  def call(self, x):
    encoded = self.encoder(x)
    decoded = self.decoder(encoded)
    return decoded

autoencoder = Autoencoder(latent_dim)

In [240]:
autoencoder.compile(optimizer='adam', loss=losses.MeanSquaredError())

In [243]:
train = df_new[:3900]
valid = df_new[2900:]

In [244]:
autoencoder.fit(train, train,
                epochs=10,
                shuffle=True,
                validation_data=(valid, valid))

Epoch 1/10
122/122 [==============================] - 1s 6ms/step - loss: 0.1820 - val_loss: 0.1849
Epoch 2/10
122/122 [==============================] - 0s 4ms/step - loss: 0.1490 - val_loss: 0.1836
Epoch 3/10
122/122 [==============================] - 0s 3ms/step - loss: 0.1478 - val_loss: 0.1825
Epoch 4/10
122/122 [==============================] - 0s 4ms/step - loss: 0.1470 - val_loss: 0.1818
Epoch 5/10
122/122 [==============================] - 0s 4ms/step - loss: 0.1464 - val_loss: 0.1814
Epoch 6/10
122/122 [==============================] - 0s 4ms/step - loss: 0.1461 - val_loss: 0.1812
Epoch 7/10
122/122 [==============================] - 0s 4ms/step - loss: 0.1459 - val_loss: 0.1810
Epoch 8/10
122/122 [==============================] - 0s 3ms/step - loss: 0.1458 - val_loss: 0.1809
Epoch 9/10
122/122 [==============================] - 0s 3ms/step - loss: 0.1457 - val_loss: 0.1808
Epoch 10/10
122/122 [==============================] - 0s 4ms/step - loss: 0.1453 - val_loss: 0.1801

In [313]:
df_new_numpy = df_new.to_numpy()
encoded_records = autoencoder.encoder(df_new_numpy).numpy()
decoded_records = autoencoder.decoder(encoded_records).numpy()

In [263]:
decoded_records[0].shape

(863,)

In [259]:
def mean_squared_error(act, pred):
   diff = pred - act
   differences_squared = diff ** 2
   mean_diff = differences_squared.mean()
   return mean_diff

In [268]:
all_losses = []

for index,record in enumerate(df_new_numpy):
   all_losses.append(mean_squared_error(df_new_numpy[index],decoded_records[index]))

In [270]:
len(all_losses)

4183

In [301]:
losses = np.array(all_losses)

In [341]:
threshold = np.mean(losses) * 1.00 + np.std(losses) * 1.02
print(threshold)
np.where(losses > threshold)[0].shape

0.30702319814525003

(329,)

In [359]:
def get_anomolies_count(losses,rule1_col,rule2_col,threshold):
  new_losses = (losses + 0.1 * rule1_col * 0.1 * rule2_col) * 0.995
  return np.where(new_losses > threshold)[0].shape


get_anomolies_count(all_losses,joined_df["adSlot_check"],joined_df["timestamp_check"],threshold)

(178,)

In [328]:
joined_df["adSlot_check"][]

0       1
1       1
2       0
3       1
4       1
       ..
4178    0
4179    0
4180    0
4181    0
4182    0
Name: adSlot_check, Length: 4183, dtype: int64